* {
    margin: 0;
    padding: 0;
}
header, footer{
    width: 100%;
    padding: 40px 0px;
    background-color: rgb(173, 211, 233);
    color: black; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner{
    width: 80%;
    height: 300px;
    background-color:white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 20px auto;
    text-align: center;
    line-height: 100px;
    
    
}

header h2{
    float: left;
    margin-left: 20px;
}

footer{
    position: absolute;
    bottom: 0%;
    background-color: aqua;
}

img{
    width: 40%;
    border-radius: 10px ;
}
